services:
  postgres:
    image: postgres:latest
    container_name: famme-postgres
    environment:
      POSTGRES_DB: famme_products
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql

volumes:
  postgres-data: